 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
 }
 nav{
    background-color: rgb(83, 171, 96);
    color: aliceblue;
    padding: 15px;
    cursor: pointer;
 }

 li,h1,ul{
    display: inline;
 }
 ul{
    margin-left:65%;
 }
 li{
    margin: 5px;
    cursor: pointer;
 }
li:hover{
    color:rgb(160, 178, 163);
}

input{
    width: 55%;
    padding: 13px;
}

.searchbar{
    padding: 50px;
    text-align: center;
}

.box{
    border: black 2px solid;
    display: inline-block;
    width: 243px;
    text-align: center;  
    margin: 50px;  
}

.box:hover{
    background-color:rgb(214, 210, 210);
}


.products{
    text-align: center;
    cursor: pointer;
    
}
.footer{
    margin-top: 60px;
    text-align: center;
    background-color: rgb(64, 156, 78);
    color: whitesmoke;
}

.About{
    display: inline-block;
    margin-right: 90px;  
}
.useful{
    display: inline-block;
    margin-right: 90px;
}
.more{
    display: inline-block;
    margin-right: 90px;
    position: relative;
    bottom: 75px;
}
.serve{
    display: inline-block;
    margin-right: 90px;
}
.fresh{
    display: inline-block;
    padding: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size:90%;
    text-align: left;
    top: 25%;
    cursor: pointer;

}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }}



